:root {
  --font-main: 'Font-Main';
  --font-action: 'Font-Action';
  --scale: 1;
  --brand-1: #10120d;
  --brand-2: #fcfcfc;
  --brand-3: #f58333;
  --brand-4: #c8df8c;
  --brand-5: #293f58;
  --brand-6: #a7b1b7;
  --brand-7: #393d34;
  --brand-8: #e3e3e3;
}

@font-face {
  font-family: 'Font-Main';
  src: url('../fonts/Inter-Regular.woff2');
  font-display: fallback;
}

@font-face {
  font-family: 'Font-Main';
  src: url('../fonts/Inter-Bold.woff2');
  font-weight: bold;
  font-display: fallback;
}

@font-face {
  font-family: 'Font-Action';
  src: url('../fonts/Inter-Black.woff2');
  font-display: fallback;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Font-Main', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  background: white;
}

@media (prefers-reduced-motion) {
  scroll-behavior: auto;
}

[contenteditable]:empty:before {
  content: attr(data-placeholder);
  color: #888;
  font-style: italic;
}

/*
 * When an element is being edited,
 * add an invisible zero-width space *before* a link
 * if it's the very first child of its parent.
*/
[contenteditable="true"] > a[href]:first-child::before {
  content: '\u200B';
}

/*
 * Add an invisible zero-width space *after* a link
 * if it's the very last child of its parent.
*/
[contenteditable="true"] > a[href]:last-child::after {
  content: '\u200B';
}
